
.logo {
    font-family: Cambria;
    font-size: x-large;
    font-style: italic;
    
}

.logoimg {
    height: 3.5rem; 
}

.bigtext {
    font-size: x-large;
}

.columns {
    display: flex;
    flex-direction: row; // this is default
    align-items: stretch; // this will stretch the children vertically
}

